<div class="albums-list">

{{#each artistAlbums}}
 <div class="albums">
     <img class="album-cover" src="{{this.images.0.url}}" alt="album cover">
     <p class="txt">{{this.name}}</p>
     <p class="txt">{{release_date}}</p>
     <hr>
     <a href="tracks/{{this.id}}">View Tracks</a>
 </div>
{{/each}}

</div>