<div class="artists-results">
    {{#each artistResults}}
        <div class="artist" style="background-image: url({{this.images.0.url}});background-size:cover">
            <p class="txt">{{this.name}}</p>
            <button><a class="album" href="/albums/{{this.id}}">View Albums</a></button>
            {{!-- {{> beerpartial this}} --}}
        </div>
    {{/each}}
</div>



