<div class="artistsResults">
    {{#each artistResults}}
        <div class="artist">
            <img src="{{this.images}}" alt="">
            <p class="name">{{this.name}}</p>
            {{!-- <button><a class="album" href="/beers/beer-{{this.id}}">{{this.albums}}</a></button> --}}
            {{!-- {{> beerpartial this}} --}}
        </div>
    {{/each}}
</div>



