<div class="artistsResults">
    {{#each artistResults}}
        <div class="artist">
            <img src="{{this.images.0.url}}" alt="">
            <p class="name">{{this.name}}</p>
            <button><a class="album" href="/albums/{{this.id}}">View Albums</a></button>
            {{!-- {{> beerpartial this}} --}}
        </div>
    {{/each}}
</div>



