    <div class="search">
        <form action="/artist-search" method="get">
        <label for="artist-search">Artist</label>
        <input type="text" name="artistSearch" id="artist-search">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>